

server:
  port: 5555

spring:
  application:
    name: API-Gateway

  cloud:
    gateway:
      routes:
        - id: authservice-api
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /${segment}

        - id: product-api-1
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/product/**
          filters:
            - RewritePath=/product/(?<segment>.*), /${segment}

        - id: cartservice-api
          uri: lb://CART-SERVICE
          predicates:
            - Path=/cart/**
          filters:
            - RewritePath=/cart/(?<segment>.*), /${segment}

